<app-header></app-header>
<main>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-8"></div>
        <div
          class="col-4 d-flex flex-column justify-content-center align-items-start"
        >
          <h1>
            Bienvenidos. <br />Creative Horizon <br />donde el arte y el lujo se
            unen
          </h1>
          <p>
            Explora un santuario de creatividad con nuestra exclusiva colección
            de materiales y herramientas de arte de primera calidad. En Creative
            Horizon, cada artículo, desde nuestros pinceles de precisión hasta
            nuestros lienzos premium, ha sido seleccionado para inspirar y
            satisfacer a los artistas más exigentes. Descubre la excelencia y
            eleva tu experiencia artística con la sofisticación que solo
            nosotros podemos ofrecer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinceles">
              <img
                class="page-img"
                src="../../../assets/images/Pincel-fondo-A.webp"
                alt="Imagen de pinceles"
              />
            </a>
            <figcaption>
              <h4>Pinceles</h4>
              <p>
                "Descubre la herramienta esencial para cada artista. Haz clic en
                la imagen para explorar nuestra exquisita colección de pinceles,
                diseñados para transformar tus visiones en obras maestras."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinturas">
              <img
                class="page-img"
                src="../../../assets/images/Pintura-fondo-B.webp"
                alt="Imagen de pinturas"
              />
            </a>
            <figcaption>
              <h4>Pinturas</h4>
              <p>
                "Explora un universo de color y creatividad. Al hacer clic en la
                imagen, te llevarás a nuestra selección premium de pinturas,
                perfectas para darle vida a tus ideas artísticas más vibrantes."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_lienzos">
              <img
                class="page-img"
                src="../../../assets/images/Lienzo-fondo-C.webp"
                alt="Imagen de lienzos"
              />
            </a>
            <figcaption>
              <h4>Lienzo</h4>
              <p>
                "El lienzo perfecto para cada creación espera por ti. Haz clic
                en la imagen para acceder a nuestra gama exclusiva de lienzos,
                el soporte ideal para tus proyectos más inspiradores."
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section id="featured" class="py-5">
    <div class="container text-center">
      <div class="section-text-combo">
        <h2>Productos Destacados</h2>
        <p>
          Aquie puedes ver los productos preferidos por nuestros usuarios este
          mes.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Pinceles</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Pinturas</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="product">
            <figure>
              <img
                src="https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg"
                alt=""
              />
              <figcaption>
                <span class="featured">Lienzos</span>
                <h3>Product 1</h3>
                <p>$ 60.00</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
