<app-header></app-header>
<main>
  <section id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8"></div>
        <div
          class="col-4 d-flex flex-column justify-content-center align-items-start"
        >
          <h1>Creative Horizon <br />donde el arte y el lujo se unen</h1>
          <p>
            Explora un santuario de creatividad con nuestra exclusiva colección
            de materiales y herramientas de arte de primera calidad. En Creative
            Horizon, cada artículo, desde nuestros pinceles de precisión hasta
            nuestros lienzos premium, ha sido seleccionado para inspirar y
            satisfacer a los artistas más exigentes. Descubre la excelencia y
            eleva tu experiencia artística con la sofisticación que solo
            nosotros podemos ofrecer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="initial-products" class="py-5">
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div
          id="featured"
          class="col-12 col-lg-3 text-center mb-4 d-flex flex-column"
        >
          <h2>Productos Destacados</h2>
          <div class="featured-products flex-grow-1">
            <div class="product" *ngFor="let product of featuredProducts()">
              <a [routerLink]="['/products', product._id]">
                <figure>
                  <img [src]="product.imageUrl" alt="{{ product.name }}" />
                  <figcaption>
                    <span class="featured">{{ product.category.type }}</span>
                    <h3>{{ product.name }}</h3>
                    <p class="product-price">
                      {{ product.price | currency : "" : "symbol" : "1.0-0" }}
                    </p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>

        <div id="our-products" class="col-12 col-lg-9 d-flex flex-column">
          <h1 class="text-center mb-4">Nuestros Productos</h1>
          <div class="row flex-grow-1">
            <div
              class="col-12 col-md-6 col-lg-4"
              *ngFor="let product of initialProducts().slice(0, 9)"
            >
              <div class="product">
                <a [routerLink]="['/products', product._id]">
                  <figure>
                    <img [src]="product.imageUrl" alt="{{ product.name }}" />
                    <figcaption>
                      <span class="featured">{{ product.category.type }}</span>
                      <h3>{{ product.name }}</h3>
                      <p class="product-price">
                        {{ product.price | currency : "" : "symbol" : "1.0-0" }}
                      </p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <a class="btn btn-primary" [routerLink]="'/products'"
              >Ver Todos los Productos</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinceles">
              <img
                class="page-img"
                src="../../../assets/images/Pincel-fondo-A.webp"
                alt="Imagen de pinceles"
              />
            </a>
            <figcaption>
              <h4>Pinceles</h4>
              <p>
                "Descubre la herramienta esencial para cada artista. Haz clic en
                la imagen para explorar nuestra exquisita colección de pinceles,
                diseñados para transformar tus visiones en obras maestras."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinturas">
              <img
                class="page-img"
                src="../../../assets/images/Pintura-fondo-B.webp"
                alt="Imagen de pinturas"
              />
            </a>
            <figcaption>
              <h4>Pinturas</h4>
              <p>
                "Explora un universo de color y creatividad. Al hacer clic en la
                imagen, te llevarás a nuestra selección premium de pinturas,
                perfectas para darle vida a tus ideas artísticas más vibrantes."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_lienzos">
              <img
                class="page-img"
                src="../../../assets/images/Lienzo-fondo-C.webp"
                alt="Imagen de lienzos"
              />
            </a>
            <figcaption>
              <h4>Lienzo</h4>
              <p>
                "El lienzo perfecto para cada creación espera por ti. Haz clic
                en la imagen para acceder a nuestra gama exclusiva de lienzos,
                el soporte ideal para tus proyectos más inspiradores."
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
