<app-header></app-header>
<main>
  <section id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 hero-image"></div>
        <div
          class="col-12 d-flex flex-column justify-content-center align-items-center text-content"
        >
          <h1>Creative Horizon <br />Donde el arte y el lujo se unen.</h1>
          <p>
            Explora un santuario de creatividad con nuestra exclusiva colección
            de materiales y herramientas de arte de primera calidad. En Creative
            Horizon, cada artículo, desde nuestros pinceles de precisión hasta
            nuestros lienzos premium, ha sido seleccionado para inspirar y
            satisfacer a los artistas más exigentes. Descubre la excelencia y
            eleva tu experiencia artística con la sofisticación que solo
            nosotros podemos ofrecer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-left">
          <h2>Productos Destacados</h2>
          <div class="featured-products">
            <div
              class="product"
              *ngFor="let product of getFeaturedProducts()"
              (click)="navigateToProduct(product._id)"
            >
              <figure>
                <img [src]="product.imageUrl" alt="{{ product.name }}" />
                <figcaption>
                  <span class="featured">{{ product.category.type }}</span>
                  <h3>{{ product.name }}</h3>
                  <p class="product-price">
                    {{ product.price | currency : "" : "symbol" : "1.0-0" }}
                  </p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-spacer"></div>
        <div class="col-right">
          <h1 class="text-center mb-4">Nuestros Productos</h1>
          <div class="products-grid">
            <div
              class="product"
              *ngFor="let product of getInitialProducts().slice(0, 9)"
            >
              <a [routerLink]="['/products', product._id]">
                <figure>
                  <img [src]="product.imageUrl" alt="{{ product.name }}" />
                  <figcaption>
                    <span class="featured">{{ product.category.type }}</span>
                    <h3>{{ product.name }}</h3>
                    <p class="product-price">
                      {{ product.price | currency : "" : "symbol" : "1.0-0" }}
                    </p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinceles">
              <img
                class="page-img"
                src="../../../assets/images/Pincel-fondo-A.webp"
                alt="Imagen de pinceles"
              />
            </a>
            <figcaption>
              <h4>Pinceles</h4>
              <p>
                "Descubre la herramienta esencial para cada artista. Haz clic en
                la imagen para explorar nuestra exquisita colección de pinceles,
                diseñados para transformar tus visiones en obras maestras."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_pinturas">
              <img
                class="page-img"
                src="../../../assets/images/Pintura-fondo-B.webp"
                alt="Imagen de pinturas"
              />
            </a>
            <figcaption>
              <h4>Pinturas</h4>
              <p>
                "Explora un universo de color y creatividad. Al hacer clic en la
                imagen, te llevarás a nuestra selección premium de pinturas,
                perfectas para darle vida a tus ideas artísticas más vibrantes."
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-4 text-center">
          <figure class="info">
            <a href="ruta_a_la_pagina_de_lienzos">
              <img
                class="page-img"
                src="../../../assets/images/Lienzo-fondo-C.webp"
                alt="Imagen de lienzos"
              />
            </a>
            <figcaption>
              <h4>Lienzo</h4>
              <p>
                "El lienzo perfecto para cada creación espera por ti. Haz clic
                en la imagen para acceder a nuestra gama exclusiva de lienzos,
                el soporte ideal para tus proyectos más inspiradores."
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
