<app-header></app-header>
<main>
  <section id="product-detail" class="pt-5 product-detail">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 position-relative">
          <div class="product-detail__image-container">
            <img
              class="product-detail__image"
              [src]="
                product?.imageUrl ||
                'https://htmldemo.net/flone/flone/assets/img/product/hm3-pro-2.jpg'
              "
              [alt]="product?.name || 'Product Image'"
            />
            <button
              class="btn btn-secondary btn-previous"
              (click)="goToPrevious()"
              [disabled]="currentIndex <= 0"
            >
              Anterior
            </button>
            <button
              class="btn btn-secondary btn-next"
              (click)="goToNext()"
              [disabled]="currentIndex >= products.length - 1"
            >
              Siguiente
            </button>
          </div>
        </div>

        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
          <h1 class="product-detail__title">{{ product?.name }}</h1>

          <p>{{ product?.description }}</p>

          <ul class="product-detail__features">
            <li><strong>Marca:</strong> {{ product?.brand }}</li>
            <li><strong>Color:</strong> {{ product?.colour }}</li>
            <li><strong>Tamaño:</strong> {{ product?.size }}</li>
            <li><strong>Material:</strong> {{ product?.material }}</li>
            <li><strong>Categoria:</strong> {{ product?.category?.type }}</li>
            <li><strong>Unidades disponibles:</strong> {{ product?.stock }}</li>
          </ul>
          <p class="product-detail__price">
            {{ product?.price | currency : "USD" : "symbol" : "1.0-0" }}
          </p>
          <button class="btn btn-primary" (click)="addToCart()">
            Agregar al carrito
          </button>

          <button class="btn btn-secondary" (click)="toggleFavorite()">
            {{ isFavorite ? "Quitar de Favoritos" : "Añadir a Favoritos" }}
          </button>
        </div>
      </div>

      <div class="product-detail__logo-container">
        <img
          src="../../../assets/images/Logo2.webp"
          alt="Creative Horizon Logo"
          class="product-detail__logo"
        />
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
