@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&display=swap");

main {
  background-image: url(../../../assets/images/Fondo-repeat.webp);
  color: #d4af37;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  margin-top: 40px;
  background-color: #583c04c3 !important;
  font-family: "Playfair Display", serif;
  color: #d4af37;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.page-title-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
}

.page-title {
  font-size: 3rem;
  color: #ffd700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", serif;
}

.page-intro {
  font-size: 1.4rem;
  color: #f0e68c;
  margin-bottom: 40px;
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
}

.product {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #0f0e07;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 1em;
  margin: 3px 0;
}

.product p {
  font-size: 1em;
  color: #ebe8e8;
  margin: 0;
  padding: 0;
}

.product a {
  text-decoration: none;
  color: rgba(205, 189, 12, 0.872);
}

.product a:hover {
  text-decoration: none;
  color: #d4af37;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button.add-to-cart {
  font-size: 1.2em;
  background-color: #6b4226;
  color: #fff;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

button.add-to-cart:hover {
  background-color: #8b5e3c;
}
