<app-header></app-header>

<main>
  <section id="products" class="mt-5 pt-5">
    <div class="container">
      <div class="text-center mb-5">
        <div class="page-title-container">
          <h1 class="page-title">Nuestros Productos</h1>
        </div>
        <p class="page-intro">
          Esta colección está cuidadosamente seleccionada para ofrecerte la más
          alta calidad en materiales y herramientas de arte. Desde nuestros
          pinceles de precisión hasta nuestros lienzos premium, cada artículo
          está diseñado para inspirar y elevar tu arte a nuevas alturas.
        </p>
      </div>
      <div class="row">
        <div
          class="col-12 col-sm-6 col-lg-3 mb-4"
          *ngFor="let product of filteredProducts()"
        >
          <div class="product card h-100">
            <a [routerLink]="['/products', product._id]">
              <img
                class="card-img-top"
                [src]="product.imageUrl"
                alt="{{ product.name }}"
              />
              <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.brand }}</p>
                <p class="card-text">{{ product.colour }}</p>
                <p class="card-text">{{ product.size }}</p>
                <p class="card-text">{{ product.material }}</p>
                <p class="card-text">
                  {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
                </p>
                <p class="card-text">
                  Unidades disponibles: {{ product.stock }}
                </p>
              </div>
            </a>
            <button (click)="addToCart(product)" class="add-to-cart mt-2">
              Añadir al Carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
