<app-header></app-header>

<main>
  <section id="products" class="mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-sm-6 col-lg-3 mb-4"
          *ngFor="let product of filteredProducts()"
        >
          <div class="product card h-100">
            <a [routerLink]="['/products', product._id]">
              <img
                class="card-img-top"
                [src]="product.imageUrl"
                alt="{{ product.name }}"
              />
              <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.brand }}</p>
                <p class="card-text">{{ product.colour }}</p>
                <p class="card-text">{{ product.size }}</p>
                <p class="card-text">{{ product.material }}</p>
                <p class="card-text">
                  {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
                </p>
                <p class="card-text">
                  Unidades disponibles: {{ product.stock }}
                </p>
              </div>
            </a>
            <button (click)="addToCart(product)" class="btn btn-primary mt-2">
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
