<app-header></app-header>
<main>
  <section id="register">
    <div class="container py-5">
      <div class="row">
        <div
          class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3"
        >
          <div class="section-text-combo">
            <h2>Registro de Usuario</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
              accusantium voluptas voluptatibus perferendis velit nostrum qui
              repellendus laboriosam.
            </p>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              />
              <div
                *ngIf="
                  registerForm.get('username')?.invalid &&
                  registerForm.get('username')?.touched
                "
              >
                <small class="error">El nombre de usuario es requerido.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <div
                *ngIf="
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
                "
              >
                <small class="error"
                  >Por favor, ingresa un correo electrónico válido.</small
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <div
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
                "
              >
                <small class="error"
                  >La contraseña debe tener al menos 6 caracteres.</small
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirmar Contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                formControlName="confirmPassword"
              />
              <div
                *ngIf="
                  registerForm.get('confirmPassword')?.invalid &&
                  registerForm.get('confirmPassword')?.touched
                "
              >
                <small class="error">Por favor, confirma tu contraseña.</small>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="registerForm.invalid"
            >
              Registrarse
            </button>
            <button type="button" class="btn btn-secondary ms-3">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
