<footer class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <strong>Creative Horizon</strong>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul class="social-links">
          <li class="list-title">Nuestras redes</li>
          <li>
            <a href="#">
              <img
                src="../../../assets/images/facebook.png"
                alt="Facebook Logo"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../../../assets/images/instagram.png"
                alt="Instagram Logo"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../assets/images/x.png" alt="X Logo" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Nuestra tienda</li>
          <li><p>Dirección:</p></li>
          <li><p>Calle de la Creatividad, 123</p></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"></li>
          <li><p>Ciudad Arte</p></li>
          <li>
            <p>&copy; 2024 Creative Horizon. Todos los derechos reservados.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
