<header class="header-container">
  <nav
    class="navbar navbar-light navbar-expand-md justify-content-center fixed-top"
  >
    <div class="container-fluid">
      <a class="navbar-brand d-flex w-50 mr-auto" routerLink="/">
        <strong>Creative Horizon</strong>
      </a>
      <div class="search-bar">
        <input class="search-input" type="text" placeholder="Buscar..." />
        <button class="search-btn">Buscar</button>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavBar"
        aria-controls="mainNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="mainNavBar">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Productos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/register">Registro</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <span class="nav-link">Bienvenido, {{ currentUser?.name }}!</span>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Cerrar Sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#" (click)="openShoppingCart($event)">
              <img
                src="../../../assets/images/cart3.png"
                alt="Carrito de compras"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="cart-sidebar" [class.open]="isCartOpen">
  <div class="cart-sidebar-header">
    <h2>Carrito de Compras</h2>
    <button class="close-btn" (click)="openShoppingCart($event)">Cerrar</button>
  </div>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-items-header">
      <span>{{ cartItems.length }} Items</span>
      <button class="clear-cart-btn" (click)="clearCart()">
        Vaciar Carrito
      </button>
    </div>
    <div *ngFor="let item of cartItems" class="cart-item">
      <img
        [src]="item.product.imageUrl"
        alt="{{ item.product.name }}"
        class="thumbnail"
      />
      <div class="item-details">
        <p>{{ item.product.name }}</p>
        <p>{{ item.product.size }}</p>
        <div class="quantity-controls">
          <button (click)="decreaseQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQuantity(item)">+</button>
        </div>
      </div>
      <div class="price-and-remove">
        <p class="item-price">
          {{ item.product.price | currency : "USD" : "symbol" : "1.0-0" }}
        </p>
        <p class="item-subtotal">
          Subtotal:
          {{
            item.product.price * item.quantity
              | currency : "USD" : "symbol" : "1.0-0"
          }}
        </p>
        <button
          class="remove-item-btn"
          (click)="removeFromCart(item.product._id)"
        >
          Eliminar
        </button>
      </div>
    </div>
    <div class="cart-summary">
      <p class="subtotal">
        Subtotal: {{ total | currency : "USD" : "symbol" : "1.0-0" }}
      </p>
    </div>
    <button class="checkout-btn">Checkout</button>
  </div>
  <ng-template #emptyCart>
    <p>El carrito está vacío.</p>
  </ng-template>
</div>
