<header class="header-container">
  <nav
    class="navbar navbar-light navbar-expand-md justify-content-center fixed-top"
  >
    <div class="container-fluid">
      <a class="navbar-brand d-flex w-50 mr-auto" [routerLink]="['/']">
        <strong>Creative Horizon</strong>
      </a>
      <div class="search-bar">
        <input class="search-input" type="text" placeholder="Buscar..." />
        <button class="search-btn">Buscar</button>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavBar"
        aria-controls="mainNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="mainNavBar">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">Productos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Registro</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <span class="nav-link">Bienvenido, {{ currentUser?.name }}!</span>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Cerrar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-bag"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
